.bar{
    display: flex;
    justify-content: space-between;
    width: 270px;
    height: 20px;
    background-color: unset; ;
    align-items: center;
    border-radius: 20px 20px 0 0;
    color: rgb(215, 216, 218);
}
.heading{
    margin-left: 14px;
    font-size: 14px;
}

.time{
    font-size: 14px;
    display: flex;
    align-items: center;
    
}

/* play pause icon in right */
.play-pause-nav {
    font-size: 15px;
    margin-right: 10px;
    padding: 0px;
    text-align: center;
    color: #039BE5;
    
}

/* notification */
.notification {
    color: #039BE5;
    margin: 1px;
    margin: auto;
    padding: 0px;
    text-align: center;
}